/* Стили для заголовка h1 */
h1 {
    color: blue; /* Цвет текста заголовка */
    font-size: 36px; /* Размер шрифта заголовка */
    text-align: center; /* Выравнивание по центру */
}

/* Стили для параграфа p */
p {
    font-family: Arial, sans-serif; /* Шрифт параграфа */
    font-size: 20px; /* Размер шрифта параграфа */
    text-align: center; /* Выравнивание по центру */
    margin-top: 20px; /* Отступ сверху */
}

/* Стили для изображения img */
img {
    display: block; /* Сделать изображение блочным элементом */
    margin: 0 auto; /* Выравнивание изображения по центру горизонтали */
    width: 300px; /* Ширина изображения */
    height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
}

/* Стили для ссылки для скачивания */
a {
    display: block; /* Сделать ссылку блочным элементом */
    text-align: center; /* Выравнивание по центру */
    margin-top: 20px; /* Отступ сверху */
    text-decoration: none; /* Убрать подчеркивание */
    background-color: blue; /* Цвет фона ссылки */
    color: white; /* Цвет текста ссылки */
    padding: 10px 20px; /* Заполнение (отступы) вокруг текста ссылки */
    border-radius: 5px; /* Скругление углов */
}

/* Стили для ссылки при наведении */
a:hover {
    background-color: darkblue; /* Изменить цвет фона при наведении */
    color: white; /* Изменить цвет текста при наведении */
}
